.pagina-inicial{
    --color-page-background-color-page: #ffffff; 
}

.slides {
    --color-slide-background-color-active-circle: #000000; 
    --color-slide-background-color-circle:#3a76a752; 
    --color-slide-border-arrow: #000000; 
}

.navbarcss{
    --color-navbar-color: rgb(255, 255, 255);
    --color-navbar-action-color-content: rgb(29, 107, 172);
    --color-navbar-item-color: rgb(29, 107, 172);   
}