.po-menu {
    --color-menu-background-color-menu: #3a76a752; /*Cor fundo do menu*/
    --color-menu-color-menu-item-text: #000000; /*Cor texto do mundo*/
    background: url('../../../assets/logomenu2.jpg');
}

.po-wrapper{
    --color-page-background-color-page: #ffffff; /*Cor fundo da página*/
}

.slides {
    --color-slide-background-color-active-circle: #000000; /*Circulo ativo do slide*/
    --color-slide-background-color-circle:#3a76a752; /*Circulo inativo do slide*/
    --color-slide-border-arrow: #000000; /*Cor da seta do círculo mudança slide*/
}
