.po-menu {
    --color-menu-background-color-menu: #3a76a752;
    --color-menu-color-menu-item-text: #000000;
    background: url('../../../assets/logomenu2.jpg');
}

.po-wrapper{
    --color-page-background-color-page: #ffffff;
}

.ok-pro-cancel {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 240px;
} 

.confirmar{
    --color-button-border-primary: black;
}

.salvar{
    margin: 0px 10px 0px 10px;
    --color-button-background-color: white;
    --color-button-color: black;
    --color-button-border: black;
}